* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.entry {
  margin-top: 16px;
  margin-bottom: 16px;
}
.entry h3 {
  margin-bottom: 10px;
}

.block {
  display: flex;
  gap: 10px;
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error {
  color: red;
  margin: 5px;
  height: 20px;
}
